{% extends "base.html" %}
{% block content %}
    {% if all_days_list %}
        <ul>
            <h1>{{ "Übersicht über alle Tage" }}</h1>
            {% for day in all_days_list %}
                <li>
                    <b>{{ day.day_name_german }}</b>
                </li>
                {{ day.different_day_date }}
                <br>
                <a href="{% url 'zeitplan:day_overview' day.id %}">{{ "Wähle diesen Tag aus." }}</a>
                <br>
            </br>
        {% endfor %}
    {% else %}
        <p>No days are available.</p>
    {% endif %}
    <a href="{% url 'zeitplan:day_new' %}">{{ "Neuen Tag anlegen." }}</a>
    <br>
</ul>
{% endblock %}
