h1 {
    color: #C25100;
    font-family: "Courier New";
}

li {
    color: green;
    font-family: "Courier New";
}

p, td {
    color: darkblue;
    font-family: "Courier New";
}

body {
    padding-top: 105px;
    padding-left: 105px;
    background: #9DEBF1;
}
